body{
    display: flex;
    justify-content: center;
}

#parentCard{
    padding: 10px;
    width: 21rem;
    background-color: #faf8f8;
   
    
}
.contentFigure{
background-color: #fff;
border-radius: 2px;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px  rgba(0, 0, 0, 0.5);
}
#imG{
    width: 336px;
    height: 320px;
}
.headinPara{
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px; 
}